{{ define "underlayevpn"}}
{{- if .Underlay.TunnelEndpoint }}
{{- if .Underlay.TunnelEndpoint.IPv4CIDR }}
  address-family ipv4 unicast
    network {{ .Underlay.TunnelEndpoint.IPv4CIDR }}
  exit-address-family
{{ end }}
{{- if .Underlay.TunnelEndpoint.IPv6CIDR }}
  address-family ipv6 unicast
    network {{ .Underlay.TunnelEndpoint.IPv6CIDR }}
  exit-address-family
{{ end }}
{{- end }}
  address-family l2vpn evpn
{{- range $neighbor := .Underlay.Neighbors}}
{{- if $neighbor.ActivateFor "l2vpn" "evpn" }}
    neighbor {{ $neighbor.ID }} activate
{{- if isEBGP $.Underlay.MyASN $neighbor.ASN }}
    neighbor {{ $neighbor.ID }} allowas-in
{{- else if $neighbor.IsRouteReflectorClientFor "l2vpn" "evpn" }}
    neighbor {{ $neighbor.ID }} route-reflector-client
{{- end }}
{{- end }}
{{- end }}
{{- if .Underlay.TunnelEndpoint }}
    advertise-all-vni
{{- end }}
  exit-address-family
{{- end }}
